name: Deploy to Azure Web App

on:
  push:
    branches:
      - main
    paths:
      - '**' 

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.x'
    
    - name: Build with dotnet
      run: dotnet build NextErp.API/NextErp.API.csproj --configuration Release
      
    - name: dotnet publish
      run: dotnet publish NextErp.API/NextErp.API.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp
      
    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'nexterp-api' 
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{env.DOTNET_ROOT}}/myapp
